#all-medecins {
  margin: 20px;
}

#column-names {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  background-color: aliceblue;
}

#column-names > td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}

#medecin-rows {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}

#medecin-rows > td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}


