body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    width: 90%;
    max-width: 1200px;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;

}

form>div {
    margin: 2%;
    padding: 1%;
}

#page-title {
    color: rgba(154, 117, 240, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#idverif {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#all-medecins {
    flex: 0 0 auto;
    margin-right: 20px;
}

#form-title {
    flex: 1;
    font-size: medium;
}

#column-names {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    background-color: aliceblue;
}

#column-names>td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

#medecin-rows {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

#medecin-rows>td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 0.5;
    pointer-events: none;
}

.form-container.active {
    opacity: 1;
    pointer-events: all;
}

#form-title {
    margin-bottom: 10px;
}