<body>
    <h1 id="page-title">Modifier un médecin</h1>

    <div class="content-container">
        <table id="all-medecins">
            <tr id="column-names">
                <td *ngFor="let medecin of CommunicationService.medecins_column_name">{{ medecin }}</td>
            </tr>
            <tr id="medecin-rows" *ngFor="let medecin of medecins">
                <td>{{medecin.idmedecin}}</td>
                <td>{{medecin.prenom}}</td>
                <td>{{medecin.nom}}</td>
                <td>{{medecin.specialite}}</td>
                <td>{{medecin.anneesexperience}}</td>
                <td>{{medecin.idservice}}</td>
                <td>
                <button (click)="onSelectMedecin(medecin.idmedecin); resetForm()">Modifier</button>
                </td>
            </tr>
        </table>


        <div class="form-container" [class.active]="selectedMedecin">
            <h1 id="form-title">Sélectionner un médecin pour le modifier</h1>
            <form [class]="selectedMedecin ? 'edit-form active' : 'edit-form'" (ngSubmit)="onSubmit()" #medecinForm="ngForm">

                <div class="form-group">
                    <label for="idmedecin"> ID medecin:  {{selectedMedecin?.idmedecin}} </label>
                </div>

                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input #prenom="ngModel" id="prenom" class="form-control"
                           type="text" *ngIf="selectedMedecin" [(ngModel)]="selectedMedecin.prenom"
                           name="prenom" pattern="^[A-Za-zéàèôêëîïçûüÉÀÈÔÊËÎÏÇÛÜ]+$" required>
                </div>

                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input #nom="ngModel" id="nom" class="form-control" type="text" *ngIf="selectedMedecin"
                           [(ngModel)]="selectedMedecin.nom" name="nom"
                           pattern="^[A-Za-zéàèôêëîïçûüÉÀÈÔÊËÎÏÇÛÜ]+$" required>
                </div>

                <div class="form-group">
                    <label for="nom">Specialté</label>
                    <select #specialite="ngModel" class="form-control" id="specialite" (change)="onChangeSpeciality($event)" *ngIf="selectedMedecin"
                    [(ngModel)]="selectedMedecin.specialite" name="specialite" required>
                    <option *ngFor="let specialite of specialites" [value]="specialite">{{specialite}}</option>
                </select>
                </div>

                <div class="form-group">
                    <label for="idservice"> ID service:  {{selectedMedecin?.idservice}} </label>
                    <select #idservice="ngModel" class="form-control" id="idservice"  (change)="onChangeIdService($event)" *ngIf="selectedMedecin"
                    [(ngModel)]="selectedMedecin.idservice" name="idservice" placeholder="0" required>
                        <option *ngFor="let number of numbers" [value]="number">{{number}} - {{specialites[number]}} </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="anneesexperience">Années d'expérience</label>
                    <input id="anneesexperience" class="form-control" type="number" *ngIf="selectedMedecin"  [(ngModel)]="selectedMedecin.anneesexperience"
                    name="anneesexperience" min="0" required>
                </div>

                <button type="submit" class="btn btn-success" *ngIf="selectedMedecin" [disabled]="!isFormChanged() || !medecinForm.valid">Soumettre</button>
            </form>
        </div>
    </div>
</body>
